server:
  # 端口
  port: 8081
  http2:
    enabled: true
  undertow:
    buffer-size: 204800
    direct-buffers: true
spring:
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 15MB
  datasource:
    dynamic:
      primary: master
      strict: false
      datasource:
        master:
          url: jdbc:mysql://sh-cynosdbmysql-grp-n5wdw4sy.sql.tencentcdb.com:26137/halodb?serverTimezone=GMT%2B8
          username: root
          password: mysqlpassword123@
          driver-class-name:  com.mysql.cj.jdbc.Driver
        slave_1:
          url: jdbc:mysql://sh-cynosdbmysql-grp-n5wdw4sy.sql.tencentcdb.com:26137/nacos_config?serverTimezone=GMT%2B8
          username: root
          password: mysqlpassword123@
          driver-class-name:  com.mysql.cj.jdbc.Driver


#    driver-class-name: com.mysql.cj.jdbc.Driver
#    hikari:
#      connection-test-query: SELECT 1
#      max-lifetime: 30000
#      maximum-pool-size: 10
#      minimum-idle: 3
##    password: lctech1234
#    password: mapengxin..??521
#    type: com.zaxxer.hikari.HikariDataSource
##    url: jdbc:mysql://121.196.59.69:3306/earthquake?serverTimezone=GMT%2B8
#    url: jdbc:mysql://sh-cynosdbmysql-grp-n5wdw4sy.sql.tencentcdb.com:26137/earthquake?serverTimezone=GMT%2B8
##    username: root
#    username: root


  redis:
    database: 15
    host: 47.99.163.207
    jedis:
      pool:
        max-active: 8
        max-idle: 8
        max-wait: 30000ms
        min-idle: 1
    password: 'redis'
    port: 6379
    timeout: 6000ms
  main:
    allow-bean-definition-overriding: true
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8q
  jmx:
    enabled: false
  thymeleaf:
    cache: false
    prefix: classpath:/templates/
    suffix: .html
    encoding: UTF-8
    servlet:
      content-type: text/html
    mode: HTML5
mybatis-plus:
  type-aliases-package: com.example.demo.pojo  # 明确指定实体类包，避免扫描到工具类
  configuration:
    map-underscore-to-camel-case: true
  global-config:
    db-config:
      logic-delete-field: deleted
      logic-delete-value: 1
      logic-not-delete-value: 0
# Sa-Token配置
sa-token:
  # token名称 (同时也是cookie名称)
  token-name: satoken
  # token有效期，单位s 默认30天, -1代表永不过期
  timeout: 432000
  # token临时有效期 (指定时间内无操作就视为token过期) 单位: 秒
  activity-timeout: -1
  # 是否允许同一账号并发登录 (为true时允许一起登录, 为false时新登录挤掉旧登录)
  is-concurrent: true
  # 在多人登录同一账号时，是否共用一个token (为true时所有登录共用一个token, 为false时每次登录新建一个token)
  is-share: false
  # token风格
  token-style: uuid
  # 是否输出操作日志
  is-log: true